body
{
    font-family:'Microsoft Yahei';
    font-size:50px !important;
}

label 
{
    font-size:48px !important;
    margin-left:15px;
    cursor:pointer;
}

input
{
    font-size:44px !important;
    height:40px;
    width:60px;
    cursor:pointer;
}

select
{
    font-size:44px !important;
    width:100%;
    height:100px;
}

.content
{
    width:100%;
}

.test-title
{
    text-align:center;
    color:#333;
    margin-top:15px;
    margin-bottom:15px;
    font-size:56px;
}

.test-introduction
{
    padding-left:10px;
    padding-right:10px;
    margin-top:15px;
    margin-bottom:15px;
}

.test-img
{
    margin-top:20px;
    margin-bottom:20px;
}

.test-img img
{
    margin:auto;
    width:100%;
}

.test-button
{
    height:120px;
    border:none;
    background-color:red;
    cursor:pointer;
    color:White;
    outline:0;
    width:100%;
    margin-top:30px;
    
}

.test-choose-item
{
    margin-top:15px;
    margin-bottom:15px;
    border:1px solid lightgrey;
    padding-left:30px;
    padding-right:30px;
    line-height:90px;
    color:grey;
}

.test-choose-item div
{
    margin-top:30px;
    margin-bottom:30px;
    
}

.result-img
{
    width:100% !important;
    height:auto !important;
}