body
{
    font-family:'Microsoft Yahei';
    font-size:50px !important;
    padding:0;
    margin:0;
}

label 
{
    font-size:48px !important;
    margin-left:50px;
    cursor:pointer;
    padding-left: 60px;
    padding-right: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.test-option-button
{
    width:100%;
    height:100%;
    border:none;
    background-color:White;
    text-align:left;
    padding-left:50px;
    background-image:url(../img/whiteback.png);
}

.test-option-button-click
{
    background-image:url(../img/button.png) !important;
    color:White !important;
}

input
{
    font-size:44px !important;
    height:50px;
    width:60px;
    cursor:pointer;
}

input[type="radio"]
{
    position:relative;
    top:5px;
    display:none;
}

select
{
    font-size:44px !important;
    width:100%;
    height:100px;
}

.content
{
    width:100%;
}

.test-title
{
    text-align:center;
    color:white;
    background-color:#0097d4;
    font-size:56px;
    padding:30px 20px;
}

.test-title-total
{
    text-align:right;
    padding:50px;
    font-size: 44px;
    color:grey;
}

.test-introduction
{
    padding-left:30px;
    padding-right:30px;
    margin-top:25px;
    margin-bottom:25px;
    color:#333;
    line-height:80px;
}

.test-img
{
    margin-top:30px;
    margin-bottom:30px;
    padding:0px 30px;
}

.test-img img
{
    margin:auto;
    width:100%;
    box-shadow:5px 5px 5px #999;
}

.result-img-panel
{
    padding:50px 50px;
}

.test-button-div
{
    padding:30px;
    
}

.test-button
{
    height:120px;
    border:none;
    background-image:url(../img/button.png);
    cursor:pointer;
    color:White;
    outline:0;
    width:100%;
    
    font-size:50px;
    
}

.test-choose-item
{
    margin-top:15px;
    margin-bottom:15px;
    
    margin-left:50px;
    margin-right:50px;
    line-height:90px;
    color:#444;
    border-bottom: 2px solid #888;
}

.test-choose-item div
{  
    border:2px solid #888;
    height:150px;
    line-height:150px;
    border-bottom:none;
    
}

.result-img
{
    width:100% !important;
    height:auto !important;
    border: 2px solid #888 !important;
    box-shadow:8px 8px 8px #999;
}

.dimension-score-panel
{
    padding:0px 50px 40px 50px;
}

.dimension-score-panel-title
{
    background-color:#ffba57;
    padding:20px;
    color:White;
}

.dimension-head-panel
{
    padding:20px 50px;
    margin-bottom:50px;
    border-bottom:2px solid lightgrey;
    border-top:2px solid lightgrey;
    color:#444;
    background-color:#eee;
}

.dimension-score-panel-desc
{
    color:#666;
    margin-top:10px;
    padding:30px;
    
}

.dimension-score-panel-score
{
    color:#666;
    
    padding:30px 30px 10px 30px;
}

.dimension-total-desc
{
    padding-left:50px;
    padding-right:50px;
    color:#7F0019;
    margin-bottom:50px;
}

.result-total-score-panel
{
    padding:10px 50px;
}

.result-total-score-beat-panel
{
    padding:10px 50px;
    color:#7F0019;
}

.result-total-score-desc-panel
{
    padding:10px 50px;
    color:#0097d4;
}

.result-dimension-score-beat-panel
{
     padding:10px 30px;
     color:#7F0019;
   
}