body
{
    font-family:'Microsoft Yahei';
}

.content
{
    width:100%;
}

.test-title
{
    text-align:center;
    color:Grey;
    margin-top:15px;
    margin-bottom:15px;
}

.test-introduction
{
    
    padding-left:10px;
    padding-right:10px;
    line-height:25px;
    margin-top:15px;
    margin-bottom:15px;
}

.test-img
{
    margin-top:20px;
    margin-bottom:20px;
}


.test-img img
{
    margin:auto;
    max-width:500px;
    width:100%;
}


.test-button
{
    height:30px;
    border:none;
    background-color:Orange;
    cursor:pointer;
    color:White;
    outline:0;
    width:100px;
    margin-left:calc((100% - 100px)/2);
}

.test-choose-item
{
    margin-top:15px;
    margin-bottom:15px;
}

.test-choose-item div
{
    margin-top:10px;
    margin-bottom:10px;
    font-size:14px;
}